.arithmetic-operators {
  // sum
  font-size: 8px + 1rem;

  // subtraction
  font-size: 2rem - 8px;

  // division
  font-size: 36px / 2;

  // multiplication
  font-size: 1rem * 3;
}

// Equality operator
// == , !=

// Comparison operator
// >, >=, <, <=

// Logical operators
// and, or, not
