// Variable ( $Name: value; )

$color-main: #ccc;
$color-second: #770af4;

// Set variables

body {
  background: $color-main;
  color: $color-second;
}

// Array of variables

$colors: (
  "white": #fff,
  "purple": #770af4,
);
$fonts: (
  "title": "arial",
  "normal": "system-ui",
);

.header {
  color: map-get($map: $color-main, $key: "purple");
  font-family: map-get($fonts, "title");
}
