// Variable ( $variable-name: value; )

$main: #ccc;

body {
  background: $main;
}

// Array of variables

$colors: (
  "white": #fff,
  "purple": #770af4,
);

.header {
  color: map-get($colors, "purple");
}
