.font {
  font-family: cursive;
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 5px;
  line-height: 1.4;
}
.font::first-line {
  text-decoration: overline;
}
