/* Keyword */

.element {
  color: red;
  color: green;
  color: blue;
}

/* Hexadecimal */

.element {
  color: #ff0000;
  color: #00ff00;
  color: #0000ff;
}

/* RGB */

.element {
  color: rgb(255, 0, 0);
  color: rgb(0, 255, 0);
  color: rgb(0, 0, 255);
}

/* HSL */

.element {
  color: hsl(0, 100%, 50%);
  color: hsl(120, 100%, 50%);
  color: hsl(240, 100%, 50%);
}

/* Alpha */

.element {
  color: hsla(0, 100%, 50%, 0.418);
  color: rgba(0, 255, 0, 0.466);
  color: #0000ff75;
}
