.flex {
  display: flex;
}

/* Flex-direction */

.flex {
  flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;
}

/* Flex-wrap */

.flex {
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}

/* Justify-content */

.flex {
  justify-content: flex-start;
  justify-content: center;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
}

/* Align-items */

.flex {
  align-items: start;
  align-items: end;
  align-items: center;
  align-items: stretch;
}

/* Gap */

.flex {
  gap: 10px;
  gap: 2rem;
}
