/* Selection */

*::selection {
  color: aqua;
}

/* After & Before */

.element::after,
.element::before {
  content: "";
}

/* First letter */

.text::first-letter {
  color: red;
}

/* First-line */

.paragraph::first-line {
  color: blue;
}

/* Placeholder for input or textarea */

.input::placeholder {
  color: blueviolet;
}
