/* Hover */

.element:hover {
  color: blueviolet;
}

/* Active */

.element:active {
  color: green;
}

/* Visited */

.element:visited {
  color: aqua;
}

/* Link */

.element:link {
  color: brown;
}
