/* Universal selector */

* {
  color: #1f1234;
}

/* Type selector */

section {
  color: aqua;
}

/* Class selector */

.class {
  color: blueviolet;
}

/* Id selector */

#id {
  color: red;
}

/* Attribute selector */

[attribute-name] {
  color: blueviolet;
}

[exact="value"] {
  color: blueviolet;
}

[Has~="value"] {
  color: blueviolet;
}

[end-in$="ends in"] {
  color: blueviolet;
}

[begins-with^="begins"] {
  color: blueviolet;
}
