.hover:hover {
  color: #36f425;
}

.active {
  cursor: pointer;
}
.active:active {
  color: #6325f4;
  cursor: pointer;
}

.visited,
.link {
  text-decoration: none;
}
.visited:visited {
  color: #f42563;
}
.link:link {
  color: #25b3f4;
}
.of-type li:first-of-type {
  color: #f42563;
}
.of-type li:last-of-type {
  color: #f42563;
}
.of-type li:nth-of-type(3) {
  color: #6325f4;
}
