.first-line::first-line {
  color: #37f71e;
}
.selection::selection {
  color: #892be2;
  background: #5560c233;
}
.before::before {
  content: "Before";
}
.after::after {
  content: "After";
}
.first-letter::first-letter,
.before::before,
.after::after {
  color: red;
  border: 2px dashed #000;
}
