* {
  margin: 0;
  padding: 0;
}
article > section {
  padding: 1rem 1rem;
}
article {
  max-width: 1200px;
  margin: auto;
}
h3 {
  padding: 1rem 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid #000;
}
.flex-direction section section {
  display: flex;
  border: 2px dashed #f00;
}
.flex-direction__row {
  flex-direction: row;
}
.flex-direction__row-reverse {
  flex-direction: row-reverse;
}
.flex-direction__colum {
  flex-direction: column;
}
.flex-direction__colum-reverse {
  flex-direction: column-reverse;
}
/* Wrap */
.flex-wrap section section {
  display: flex;
  border: 2px dashed #f00;
}
.flex-wrap__nowrap {
  flex-wrap: nowrap;
}
.flex-wrap__wrap {
  flex-wrap: wrap;
}
.flex-wrap__wrap-reverse {
  flex-wrap: wrap-reverse;
}
/* Justify content */
.flex-jc section section {
  display: flex;
  border: 2px dashed #f00;
}
.flex-jc__flex-start {
  justify-content: flex-start;
}
.flex-jc__center {
  justify-content: center;
}
.flex-jc__flex-end {
  justify-content: flex-end;
}
.flex-jc__space-between {
  justify-content: space-between;
}
.flex-jc__space-around {
  justify-content: space-around;
}
.flex-jc__space-evenly {
  justify-content: space-evenly;
}
/* Align Items */

.flex-ai {
  display: flex;
  justify-content: space-evenly;
}
.flex-ai section {
  display: flex;
  height: 8rem;
  border: 2px dashed #f00;
}
.flex-ai .item {
  background-color: #bfa6eb;
}
.flex-ai__start {
  align-items: start;
}
.flex-ai__end {
  align-items: end;
}
.flex-ai__center {
  align-items: center;
}
.item-stretch {
  border: 1px solid #000;
  background-color: #bfa6eb;
}
.flex-ai__stretch {
  align-items: stretch;
}
