.box {
  background-color: blueviolet;
  width: 16rem;
  height: 12rem;
}
.border {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.border__solid {
  border: 3px solid mediumaquamarine;
}
.border__double {
  border: 3px double mediumorchid;
}
.border__dotted {
  border: 3px dotted mediumpurple;
}
.border__dashed {
  border: 3px dashed mediumseagreen;
}
.border__groove {
  border: 3px groove mediumslateblue;
}
.border__ridge {
  border: 3px ridge mediumspringgreen;
}
.border__inset {
  border: 3px inset mediumturquoise;
}
.border__outset {
  border: 3px outset mediumvioletred;
}
.border-box {
  box-sizing: border-box;
  border: 5px dashed #777;
  height: 35px;
}
.content-box {
  box-sizing: content-box;
  border: 5px dashed #777;
  height: 35px;
}
