* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: system-ui, -apple-system, sans-serif;
  /* Center */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.subscription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  padding: 2rem;
  border: 1px solid #1f1235;
  box-shadow: 1px 1px 4px #1f1235;
  border-radius: 3rem 0;
}

/* Header */

.subscription__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription__title {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.subscription__subtitle {
  font-size: 0.9rem;
  color: #67568c;
}

/* Price */

.subscription__price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
  font-weight: 700;
  height: 3rem;
  border: 1px solid #67568c;
  box-shadow: 1px 1px 2px #67568c;
  border-radius: 2rem;
}
.price__number {
  font-size: 1.4rem;
  color: #67568c;
}

.price__text {
  color: #ff6e6c;
  font-size: 0.9rem;
}

/* Benefits */

.subscription__benefits {
  padding: 1rem 0;
  height: 10rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.list__element--subscription {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #1f1235;
}
/* optional or add class in (i) */
.list__element--subscription i {
  color: #ff6e6c;
  font-weight: 700;
}

/* Button */

.button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px #1f1235;
}
.button:hover {
  box-shadow: 1px 1px 4px #1f1235 inset;
}
.button--subscribe {
  background-color: #ff6e6c;
  font-weight: 600;
  letter-spacing: 1px;
}
